*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
.navbar{
    margin:0 30px;
    height: 100px;
    
    display: flex;
    justify-content: space-between;
}
.navbar .logo{
    width: 50%;
    
    display: flex;
    align-items: center;
}
.navbar .logo img{
    height: 50px;
    width: 50px;
    
    /* object-fit: cover; */
    
}
.navbar .logo p{
    color: black;
    font-size: 1.3em;
    padding-left: 10px;
    font-weight: 800;
}
.navbar .logo p span{
    color: orangered;
   
}
.navbar .menu{
    
    display: flex;
    gap:20px;
    align-items: center;
}
.navbar .menu a{
    text-decoration: none;
    color: grey;
}
.iconformobile{
    display: none;
}
.navbar .menu a:hover{
    color: orangered;
}

.search .searchbox *{
    
}
.search{
    
    margin: 10px 20px;
    background-image: url(../Images/Group\ 13.png);
    width: 90%;
    height: 400px;
    display: flex;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    border-radius: 15px;
    padding: 0 30px;
}
.search h1,p{
    color: white;
}
.search h1{
    font-size: 2.5em;
}
.search p{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}
.search .searchbox{
    display: flex;
    justify-content: space-around;
    
    width: 60%;
    height: 50px;
    background-color: rgb(224, 208, 208);
    opacity: 0.8;
    border-radius: 10px;
    
}
.search .searchbox *{
    width: 150px;
    border-radius: 10px;
    padding-left: 20px;
    border:none;
    /* border: 2px solid white; */
}
.search .searchbox button{
    background-color: orangered;
    color: azure;
    font-size: 1.2em;
    text-indent: -10%;
}


.populartours{
    display: flex;
    margin: 50px auto;
    width: 85%;
}
.populartours .tourdescription{
    padding:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
}
.populartours .tourdescription p{
    
    color: black;
}
.populartours .tourdescription h1{
    font-size: 2.5em;
}

.primarybutton
{
    background-color: orangered;
    color: azure;
    font-size: 1.2em;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;
}
.ulitems li{
    
    margin: 10px 0;
    list-style-position: inside;
}

.yourdestination{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 20px auto;
    border: red solid 5px;
    width:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.yourdestination h1{
    border: red 2px solid;
}
.yourdestination p{
    padding:20px;
    width:80%;
    color:black;
    border: red 2px solid;
}


.imagecontainer{
    width: 100%;
    border: 5px solid red;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}
.image img{
    width: 100%;
}
.imagecontainer .image{
    border: green solid 3px;
    position: relative;
    flex-basis: auto;
}
.imagecontainer .image .centered{
    border: red solid 3px;
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left:50%;
}




